body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #004643;

    }

    /* NAVBAR */

.icon{
        padding-left: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
}

nav{
    display: flex;
    height: 10%;
    width: 100%;
    background-color: #fff;
    justify-content: center;
    
}

.menu{
    font-size: 25px;
    width: 100%;
    display: flex;
    justify-content: end;
    padding-right: 8%;
}

li{
    display: inline;
    padding-left: 100px;
    cursor: pointer;
}

li a{
    color: rgb(26, 141, 93);
    text-decoration-line: none;
    font-size: 33px;
}
/* PRINCIPAL */

.main{
    display: flex;
    background-color: #004643;
    flex-wrap: wrap;
    color: #fffffe
}

.aside1{
    flex: 30px;
    justify-content: center;
    flex-direction: column;
}

h2{
    display: flex;
    justify-content: center;
    font-size: 32px;
    margin-bottom: 0;
    padding-left: 33px;
    padding-top: 15px;
}
.sucu{
    display: flex;
    justify-content: center;
    height: 300px;
    width: 300px;
    padding-top: 30px;
    padding-left: 50px;
}

.aside2{
    flex: 60%;
}

.plantas{
    display: inline;
    justify-content: center;
    height: 300px;
    width: 300px;
    padding-top: 30px;
    padding-right: 5px;
    padding-left: 50px;
    border-radius: 20px;
}

.h22{
    display: flex;
    justify-content: center;
    padding-right: 6%;
}